body {
  background-color: "#a09c99";
}
.jspsych-display-element {
  font-size: 25px;
  color: black;
  background-color: "#a09c99"
}
.jspsych-content {
  max-width: 90%; 
  background-color: "#a09c99"
}